.intro {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.intro .intro__content {
    background: #3300ff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* position: relative; */
}

.intro .intro__content:before, .intro .intro__content:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 8px;
    
}

.intro .intro__content:after {
    border-right: 2px solid #30f;
    border-bottom: 2px solid #30f;
    left: 8px;
    top:8px;

}

.intro .intro__content:before {
    border-left: 2px solid #30f;
    border-top: 2px solid #30f;
    left: -8px;
    top: -8px;
    bottom: 8px;
}

#logo__zakboys path {
    fill: white;
}

.btn_app {
    background: #000;
    padding: .75em 2em;
    position: relative;
    z-index: 1;;
}

.btn_app:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;

    border: 1px solid;
    left: 6px;
    top:6px;
    z-index: -1;
}

.btn_app.bg-light {
    color: #000;
    border-color: #f8f9fa; 
}

.btn_app.bg-light:after {
    color: #000;
    border-color: #f8f9fa; 
}

.btn_app:hover {
    text-decoration: none;
}

.border-dark{
    border-bottom: 5px solid #30f;
}
.border-light{
    border-bottom: 5px solid #fff;
}
.font-em-1dot3{
    font-size: 1.3em
}
.service-widget{
    transition: all .1s;
    position: relative;
    color: #30f;
}
.service-widget svg{
    width: 50%;
    fill: #30f;
};
.service-widget svg path{
    fill: #30f;
}
.service-widget:hover{
    background: #30f;
    color: #f8f9fa;
}
.service-widget:hover svg path{
    fill: #f8f9fa;
}
.service-widget:hover::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid #30f;
    left: -8px;
    top: -8px;
    z-index: -
}
.helper_text{
    font-size: 2em;
    font-weight: lighter;
}
.input-control,.input-control:focus{
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    font-size: 18px;
    box-shadow: none;
    font-weight: lighter;
    color: #fff;
    margin: 0 8px 0 8px;
}
.input_lg{
    height: 50px;
}
#contact_form .form-group{
    padding: 0.5rem .8rem;
}
.cursor-pointer{
    cursor:pointer;
}
.contact_info{
    position: relative;
}
.adderes_bar{
    background: #fff;
    -moz-box-shadow: -5px -5px 5px #888;
-webkit-box-shadow: -5px -5px 5px #888;
box-shadow: -5px -5px 5px #888;
position: absolute;
left: 0;
right: 0;
bottom: 0;
z-index: 1024;
display: block;
overflow: hidden;
margin: 0;
}
.font-20px{
    font-size: 20px;
}